{% extends "web_page/base.html" %}
{% block content %}
		<div class="row extra-padding">
			<div class="col-sm-6 col-sm-offset-3">
				{% if messages %}
					<ul class="messages">
						{% for message in messages %}
							<p{% if message.tags %} class="alert alert-success"{% endif %}><strong>{{ message }}</strong></p>
						{% endfor %}
					</ul>
				{% endif %}
			</div>				
		</div>
	<div class="container">
		<h1>Nova Atividade</h1>
	    <form action="" method="POST" class="post-form">{% csrf_token %}
	        <div class="row">
				<div class="fieldWrapper">
					<form action="/form/atividade" method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
						<table>
							<tbody>
								<tr>
									<td>{{ form.as_table }}</td>
									<td>{{ field }}</td>
								</tr>
							</tbody>
						</table><br>
						<input type="submit" class="btn btn-success" name="insere-inscrito"/>
					</form>
				</div>
			</div><br>
		</form>
	</div>
	<a href="/form"><input class="btn btn-success" type="button" value="Voltar para o Menu"/></a>
{% endblock %}