<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% csrf_token %}
	{% load static %}
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
	<link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet"/>
	<link href="{% static "css/side-bar.css" %}" rel="stylesheet">
    <style type="text/css">
        th, td{
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        tr{
            bgcolor: #E5E4E2;
        }
        .page-header{
            margin-top: 0;
            padding: 0px 0px 10px 0px;
        }
    </style>
	<title>ProgressCode</title>
</head>
<body>
	<div id="wrapper">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><h2>ProgressCode</h2></li>
               <li><a href="#">Sobre</a></li>
                <li><a href="#">Contato</a></li>
                <li class="sidebar-brand">Inscrições</li>
                <li><a href="/form/choiceInsc/">Inserir Inscritos</a></li>
                <li><a href="/form/evento/">Cadastrar Evento</a></li>
                <li><a href="/form/encontro/">Cadastrar Encontros</a></li>
                <li><a href="/form/atividade/">Cadastro de Atividade</a></li>
                <li><a href="/form/feedback/">Feedbacks</a></li>
                <li><a href="/form/equipe/">Cadastro de Equipe</a></li>

                <li class="sidebar-brand">Listas</li>
                <li><a href="/list/eventos">Lista de Eventos</a></li>
                <li><a href="/list/inscritos">Lista de Inscritos</a></li>
                <li><a href="/list/feedbacks">Lista de Feedbacks</a></li>
                <li><a href="/list/tutores">Lista de Tutores</a></li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="page-header" align="center">
                        <img width="1000" height="200" src="{% static "images/teste.jpg" %}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                    	<h1>Olá {{ request.user }}</h1>
                    </div>
                    <div class="col-lg-12">
                        <a href="/logout"><input class="btn btn-default" type="button" name="logout btn" value="Deslogar"></a><br>
                    </div>
                </div>
                <div class="row">
                	{% block content %}
					{% endblock %}
                </div>
            </div>
        </div>
    </div>
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script>
	    $("#menu-toggle").click(function(e) {
	        e.preventDefault();
	        $("#wrapper").toggleClass("toggled");
	    });
    </script>
</body>
</html>