{% extends "web_page/base.html" %}
{% block content %}
	<div class="container">
		<form action="/list/encontros/" method="post" class="post-form">{% csrf_token %}
			<h1 align="center">Encontros de {{ aux_nome }}</h1>
		    <table align="center">
				<tr bgcolor="#E5E4E2">
					<th></th>
					<th>N⁰ Encontro</th>
					<th>Data</th>
					<th>Atividades</th>
				</tr><br>
				{% for item in encontros %}
				<tr>
					<td><input type="checkbox" name="check_encontros" value="{{ item.id }}"></td>
					<td>{{ item.id }}</td>
					<td>{{ item.data_realizao }}</td>
					<td><button class="btn btn-default btn-xs" type="submit" formaction="/list/atividades/" aling="center" name="encontro_id" value="{{ item.id }}">Ver Atividades</button></td>
				</tr>
				{% endfor %}
			</table><br>
			<button align="center" type="submit" class="btn btn-danger">Delete Encontro</button>
		</form>
		
		<div class="container">
			<div class="row">
				<div class="col-xs-5">
					<br><a href="/list/eventos"><input class="btn btn-success" type="button" value="Voltar para a lista de Eventos"/></a><br>
				</div>
				<div class="col-xs-5">
					<br><a href="/form"><input class="btn btn-success" type="button" value="Voltar para o Menu"/></a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}