{% extends "web_page/base.html" %}
{% block content %}
    <div class="container">
        <h1>New equipe</h1>
        <form method="POST" class="post-form">{% csrf_token %}

            {% csrf_token %}
            <div class="container">
                <div class="row">
                    <div class="fieldWrapper">
                        <table>
                            <tbody>
                                <tr>
                                    <td>{{ form }}</td>
                                    <td>{{ field }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <table>
                <tr>
                    <th>Tutores</th>
                </tr>
                {% for membro in membros %}
                    <tr>
                        <td>
                            <input type="checkbox" name="check_tutores" value="{{ membro.id }}"><label> {{ membro.nome }}</label>
                            <br>
                        </td>
                    </tr>
                {% endfor %}
            </table><br>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
        <br><a href="/form"><input class="btn btn-success" type="button" value="Voltar para o Menu"/></a>
    </div>
{% endblock %}
