{% extends "web_page/base.html" %}
{% block content %}
            <div class="row extra-padding">
                <div class="col-sm-6 col-sm-offset-3">
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <p{% if message.tags %} class="alert alert-success"{% endif %}><strong>{{ message }}</strong></p>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>              
            </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-5">
                <h3>Cadastrar evento</h3>
                <form action="/form/evento/" method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="fieldWrapper">
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>{{ form }}</td>
                                            <td>{{ field }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <table>
                        <tr>
                            <th>Equipes</th>
                        </tr>
                        {% for equipe in equipes %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="check_equipes" value="{{ equipe.id }}"><label> {{ equipe.descricao }}</label>
                                    <br>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <br>
                    <br>
                    <table>
                        <tr>
                            <th>Inscritos</th>
                        </tr>
                        {% for inscrito in inscritos %}
                            <tr>
                                <td>
                                    <input type="checkbox" name="check_inscritos" value="{{ inscrito.id }}"><label> {{ inscrito.nome }}</label>
                                    <br>
                                </td>
                            </tr>
                        {% endfor %}
                    </table><br>
                    <button type="submit" class="btn btn-success">Guardar</button>
                </form>
                <br><a href="/form"><input class="btn btn-success" type="button" value="Voltar para o Menu"/></a>
            </div>
        </div>    
    </div>
{% endblock %}
