{% extends "web_page/base.html" %}
{% block content %}

	<div class="container">
		<h1>New Feedback:</h1>
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="fieldWrapper">
						<form method="POST" class="post-form">{% csrf_token %}
							<table>
								<tbody>
									<tr>
										<td>{{ form }}</td>
										<td>{{ field }}</td>
									</tr>
								</tbody>
							</table>
							<br><button type="submit" class="btn btn-success">Guardar</button>
						</form>
					</div>
				</div>
			</div><br>
			
		</div>
	</div>
	<div class="container">
		<br><a href="/form"><input class="btn btn-success" type="button" value="Voltar para o Menu"/></a>
	</div>
    
{% endblock %}