<!DOCTYPE html>
<html>
<head>
	<style>
	      body{
	        font-family:Arial,Helvetica,sans-serif;
	        font-size: 12px;
	      }
	</style>
	<meta charset="utf-8">
	<title>ProgressCode</title>
</head>
<body>
	<h1>Olá, seja bem vindo ao ProgressCode</h1>
	<form action="/" method="post"> {% csrf_token %}
		<h2>Usuário:</h2>
		<input type="text" name="username">
		<h2>Senha</h2>
		<input type="password" name="passwd"></br></br>
		<input type="submit" name="login">
	</form>
s
	{{ username }}
	{{ passwd }}
</body>
</html>