<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% csrf_token %}
	{% load static %}
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
	<link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet"/>
	<title>ProgressCode</title>
</head>
<body>
	<h2 align="center">Seja bem vindo ao ProgressCode</h2>

	<div class="container" align="center">
		<form action="/form" method="post"> {% csrf_token %}
			<h3>Usuário:</h3>
			<input type="text" name="username">
			<h3>Senha</h3>
			<input type="password" name="passwd"></br></br>
		<input class="btn btn-success" type="submit" name="login" value="login">
	</form>
	</div>
</body>
</html>