{% extends "web_page/base.html" %}
{% block content %}
	<div class="container">
		<form action="/list/inscritos/" method="post" class="post-form">{% csrf_token %}
			<h1 align="center">Inscritos</h1>
		    <table align="center">
				<tr bgcolor="#E5E4E2">
					<th></th>
					<th>N⁰ Inscrito</th>
					<th>Nome</th>
					<th>Data do Nascimento</th>
					<th>Escola</th>
				</tr><br>
				{% for item in inscritos %}
					<tr>
						<td><input type="checkbox" name="check_inscritos" value="{{ item.id }}"></td>
						<td>{{ item.id }}</td>
						<td>{{ item.nome }}</td>
						<td>{{ item.data_nasc }}</td>
						<td>{{ item.escola }}</td>
					</tr>
				{% endfor %}
			</table><br>
			<button align="center" type="submit" class="btn btn-danger">Deletar Inscrito</button>
		</form><br>
		<a href="/form"><input class="btn btn-success" type="button" value="Voltar para o Menu"/></a>		
	</div>
{% endblock %}
