{% extends "web_page/base.html" %}
{% block content %}
	<div class="container">
		{% csrf_token %}
		<div class="row">
			<div class="container">
				<h3>Inserir Inscrito</h3>
				<div class="row">
					<div class="fieldWrapper">
						<form method="POST" class="post-form">{% csrf_token %}
							<table>
								<tbody>
									<tr>
										<td>{{ form }}</td>
										<td>{{ field }}</td>
									</tr>
								</tbody>
							</table>
							<br><button type="submit" class="btn btn-success">Guardar</button>
						</form>
					</div>
				</div>
			</div><br>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-xs-5">
					<br><a href="/form"><input class="btn btn-success" type="button" value="Voltar para o Menu"/></a><br>
				</div>
				<div class="col-xs-5">
					<br><a href="/form/choiceInsc"><input class="btn btn-success" type="button" value="Voltar para modo de Inserção"/></a>
				</div>
			</div>
		</div>
	

	</div>
{% endblock %}
