{% extends "web_page/base.html" %}
{% block content %}
		<div class="row extra-padding">
					<div class="col-sm-6 col-sm-offset-3">
						{% if messages %}
							<ul class="messages">
								{% for message in messages %}
									<p{% if message.tags %} class="alert alert-success"{% endif %}><strong>{{ message }}</strong></p>
								{% endfor %}
							</ul>
						{% endif %}
					</div>
				</div>
		<div class="container">
		{% csrf_token %}
		<div class="row">
			<div class="container">
				<h3>Inserir Inscrito</h3>
				<div class="row">
					<div class="fieldWrapper">
						<form method="POST" class="post-form">{% csrf_token %}
							<table>
								<tbody>
									<tr>
										<td>{{ form }}</td>
										<td>{{ field }}</td>
									</tr>
								</tbody>
							</table>
							<br><button type="submit" class="btn btn-success">Guardar</button>
						</form>
					</div>
				</div>
			</div><br>
		</div>
	</div>
	<a href="/form"><input class="btn btn-success" type="button" value="Voltar para o Menu"/>
	<a href="/form/choiceInsc"><input class="btn btn-success" type="button" value="Voltar para modo de Inserção"/>
{% endblock %}
