<!DOCTYPE html>
<html>
<head>
	<style>
	   body{
           font-family:Arial,Helvetica,sans-serif;
	       font-size: 12px;
       }
	   table, th, td {
    		border: 1px solid black;
		}
	</style>
	<meta charset="utf-8">
	<title>ProgressCode</title>
</head>
<body>
	<h1>Seja bem vindo ao ProgressCode</h1>
	<form action="/" method="post"> {% csrf_token %}
		<h2>Email:</h2>
		<input type="text" name="email">
		<h2>Senha</h2>
		<input type="password" name="password"></br></br>
		<input type="submit" name="login">
	</form>
	<br>
	<a href="{% url 'register' %}"> Criar conta de tutor</a>
</body>
</html>
