<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% csrf_token %}
	{% load static %}
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet"/>
	<link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet"/>
	<link href="{% static "css/side-bar.css" %}" rel="stylesheet">
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <style type="text/css">
        th, td{
            padding: 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }
        tr{
            bgcolor: #E5E4E2;
        }
        .page-header{
            margin-top: 0;
            padding: 0px 0px 10px 0px;
        }
    </style>
	<title>ProgressCode</title>
</head>
<body>
	<div class="row">
        <div class="page-header" align="center">
            <img width="1000" height="200" src="{% static "images/teste.jpg" %}">
        </div>
    </div>
    <div class="row">
    	<h1 align="center">Cadastro tutor:</h1>
    	<div class="col-md-2 col-md-offset-5">
    		<form align="center" method="POST" class="post-form">{% csrf_token %}
		        {{ form.as_p }}
		        <button type="submit" class="save btn btn-success">Salvar</button>
			</form>
    	</div>
    	<div class="col-md-2 col-md-offset-5">
    		<br><a href="/form/choiceInsc"><input class="btn btn-success btn-block" type="button" value="Voltar para login"/></a>
    	</div>
    </div>    
</body>
</html>
